<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MaxButtonsInRow" value="2" />
		<add key="ApiKey" value="5126069538:AAHqVu5QCNF9Dq86OvaDQ_k78gqqSG12IKk" />
		<add key="BaseUrl" value="https://localhost:7060" />
		<add key="PrivateApiKey" value="XCt3yVHNC0ud6pJ0zyVBAdrlHvZ2j0jEdNiRFdXkVWsAjtyXvPsb66YtKjOZTtChWbpoQmDTXu45ML8UPlT088YiDRekKhNyKfL2Zh4Ak5sm0sIbkSUG54VKivoBodS7" />
	</appSettings>
</configuration>
