<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MaxButtonsInRow" value="2" />
		<add key="ApiKey" value="5126069538:AAHw53-_7fypyu2Fnuey33d1c6xgZ8S4We0" />
		<add key="BaseUrl" value="https://localhost:7060" />
		<add key="PrivateApiKey" value="XCt3yVHNC0ud6pJ0zyVBAdrlHvZ2j0jEdNiRFdXkVWsAjtyXvPsb66YtKjOZTtChWbpoQmDTXu45ML8UPlT088YiDRekKhNyKfL2Zh4Ak5sm0sIbkSUG54VKivoBodS7" />
	</appSettings>
</configuration>
